@media screen and (max-width: 576px) {
    nav {
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;
    }
    .brand-title {
        margin-left: 0px;
        font-size: 100%;
    }
   .hamburger, .toogle-menu{
        display: block;
    }
    .link-container {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        background: white;
        width: 50%;
        height: 100%;
        padding-top: 0px;
        margin-top: 0px;
    }

    .nav-link {
        color: #BC8CF2;
    }

    .link-container li {
        width: 100%;
    }
    .link-container li a,
    .link-container li a:hover {
        padding: 30px;
        font-size: 20px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.267) inset;
    }
     /*Home*/

     #Home {
        width: 100%;
        height: auto;
    }

    .home1 {
        width: 100%;
        margin: 0;
        height: auto;
    }
    .homesec {
        width: 100%;
        height: auto;
    }
    .left {
        width: 100%;
        height: auto;
    }
    .hithere {
        width: 100%;
        height: auto;
        font-size: 15px;
        margin-top: 60px;
        margin-left: 0px;
        display: inline-block;
    }
    .iama {
        width: 100%;
        height: auto;
        font-size: 20px;
        margin-left: 0px;
    }
    .imagecontainer {
        height: auto;
        float: right;
        margin-top: 20px;
        margin-left: 0px;
        align-items: center;
    }
    .image {
        width: 75%;
        height: 75%;
        border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
        align-items: center;
    }

    .tex {
        width: 100%;
        height: auto;
        font-size: 15px;
        line-height: 20px;
    }

    .pdf {
        width: 100%;
        height: auto;
        font-size: 16px;
        display: inline-block;
        padding: 10px;
        border: 2px solid #BC8CF2;
        border-radius: 5px;
        display: inline;
     }

     /*about*/

     .about2 {
        margin-left: 0px;
        width: 100%;
        height: auto;
        padding-top: 0px;
    }
    
    .whole-container {
        width: 100%;
        height: auto;
        margin-left: 0px;

    }
    .gradpic {
        border: 7px solid #BC8CF2;
        float: left;
        margin-top: 0px;
        margin-left: 0px;
        align-items: center;
    }
    .halfcontainer {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .onefortcontainer {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .myname{
        width: 100%;
        height: auto;
        font-family: sans-serif;
        font-size: 25px;
        display: inline-block;
        color: white;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0px;
    }
    .objective {
        width: 100%;
        height: auto;
        font-family: sans-serif;
        line-height: 20px;
        display: block;
        margin-top: 10px;
        margin-bottom: 0;
        color: white;
        margin-left: 0px;
    }
    .onefortcontainer {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .onefortocontainer {
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-top: 10px;
        display: inline-block;
    }

    .oneeightcontainer {
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .objective2 {
        width: 100%;
        height: auto;
        margin-top: 20px;
        text-align: left;
        font-family: sans-serif;
        line-height: 20px;
        display: inline-block;
        color: white;
    }
    .oneeighttocontainer {
        width: 100%;
        height: auto;
        float: right;
        margin-left: 0px;
    }
    .onesixtent {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        margin-top: 10px;
        margin-left: -5px;
    }

    .item {
        background: rgba(255, 255, 255, 0.199);
        height: auto;
        width: 100%;
    }
    .item1 {
        width: 100%;
        height: auto;
        color: #BC8CF2;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 19px;
        font-family: sans-serif;
        font-size: 20px;
    }

    .underneath1 {
        text-align: center;
        margin-top: 3px;
        color: white;
        font-family: sans-serif;
        font-size: 15px;
    }
    .item2 {
        width: 100%;
        height: auto;
        color: #BC8CF2;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 19px;
        font-family: sans-serif;
        font-size: 20px;
    }

    .underneath2 {
        text-align: center;
        margin-top: 3px;
        color: white;
        font-family: sans-serif;
        font-size: 15px;
    }

    .item3 {
        width: 100%;
        height: auto;
        color: #BC8CF2;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 19px;
        font-family: sans-serif;
        font-size: 20px;
    }

    .underneath3 {
        text-align: center;
        margin-top: 3px;
        color: white;
        font-family: sans-serif;
        font-size: 15px;
    }
    .item4 {
        width: 100%;
        height: auto;
        color: #BC8CF2;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 19px;
        font-family: sans-serif;
        font-size: 20px;
    }
    
    .underneath4 {
        text-align: center;
        margin-top: 3px;
        color: white;
        font-family: sans-serif;
        font-size: 15px;
    }
    /*skills*/
    .myskills {
        width: 100%;
        height: auto;
        display: block;
        font-size: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    #My {
        color: white;
        align-items: center;
        text-align: center;
    }
    
    .Skills {
        color: #BC8CF2;
        text-decoration: underline;
    }
    .skillscontainer {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }
    .half {
        width: 100%;
        height: auto;
    }
    .third {
        width: 100%;
        height: auto;
        margin-top: 6px;
        line-height: 30px;
        color: white;
        font-family: sans-serif;
        font-size: 10px;
    }
    .progress-container {
        width: 100%;
        height: auto;
        background-color: #f3f3f323;
        height: 10px;
        padding: 0;
        border-radius: 50px;
    }
    .wordpercent {
        font-size: 13px;
    }
    .percent {
        font-size: 13px;
    }


    
    /*Qualifications*/
    #Myq {
        color: white;
        align-items: center;
        text-align: center;
    }
    .myquali {
        color: #BC8CF2;
        text-decoration: underline;
    }
    .myqualifications {
        width: 100%;
        display: block;
        font-size: 20px;
    }
    .whole-qualificationscontainer {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .half-qualificationscontainer {
        height: 100%;
        width: 100%;
    }
    
    .onethird-qualificationscontainer{
        width: 100%;
        height: auto;
    }
    .circle {
        background: #BC8CF2;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        margin-left: 0px;
    }
    .dateandicon {
        display: flex;
    }
    .date{
        color: white;
        width: 50%;
        height: auto;
        background: rgba(255, 255, 255, 0.144);
        margin-top: 0px;
        margin-left: 25px;
        margin-bottom: 0;
        display: inline-block;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 15px;
        border-radius: 50px;
        text-align: center;
        color: white;
        padding: 10px;
    }
    
    .jobtitle {
        width: 70%;
        color: white;
        font-family: sans-serif;
        margin-left: 30px;
        font-size: 15px;
        font-weight: bold;
    }
    
    .details {
        list-style: none;
    }
    
    .job-details {
        border-left: 3px solid #BC8CF2;
        margin-left: 10px;
        margin-top: 5px;
    }
    .icon-png {
        height: 25px;
        width: 25px;
    }
    .job-roles {
        width: 70%;
        line-height: 20px;
        height: auto;
        font-size: 13px;
    }
  /*my services*/
  .servicecontainer {
    width: 100%;
    height: auto;
    margin-left: 0px;
}

.mysservices {
    width: 100%;
    height: auto;
    display: block;
    font-size: 15px;
    padding-top: 23px;
}

.wholecont {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    grid-gap: 10px;
    margin-right: 0px;
}

.contone{
    margin-left: 0;
    width: 98%;
    height: auto;
    border-radius: 10px;
    display: grid;
    border: 0.8px solid rgba(255, 255, 255, 0.425);
}

.contone:hover {
    background: #BC8CF2;
    transition: 2s linear;
}

.icons {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.textlogo {
color: white;
display: block;
text-align: center;
margin: 0 0;
font-family: sans-serif;
}

.textinfo {
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.service3 {
    width: 100%;
    margin-left: 0px;
}
/* Portfolio */
.portfoliocontainer {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
section ul li.active {
    background: #BC8CF2;
    color: white;
}

.list {
    height: auto;
    width: 100%;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    list-style: none;
    border: 2px solid  #BC8CF2;
    color: #BC8CF2;
    margin-top: 5px;
    margin-left: -20px;
}

.list:hover {
    color: white;
    background: #BC8CF2;
    transition: 1s;
}

.description{
    height: 100%;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    column-gap: 8px;
}

.product {
    margin-left: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.itemBox {
    width: 100%;
    height: auto;
    margin: 0px;
    align-items: center;
}


.img {
    top: 0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 0.8px solid rgba(255, 255, 255, 0.425);
    align-items: center;
}
.contact-info {
    width: 100%;
    height: auto;
}
#contact {
    width: 100%;
    height: auto;
    display: block;
    color: white;
    align-items: center;
    text-align: center;
}
.contactdescription {
    width: 100%;
    height: auto;
}
.contactboxcontainer{
    width: 100%;
    height: auto;
    margin-left: 0px;
}
.getintouch {
    width: 100%;
    height: auto;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
}
.phone {
    width: 100%;
    height: auto;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.email {
    width: 100%;
    height: auto;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.linkedin {
    width: 100%;
    height: auto;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.phone-number{
    width: 50%;
    height: auto;
    display: inline-block;
}
.email-add{
    width: 70%;
    height: auto;
    display: inline-block;
}
/*contact form*/
.contact-form {
    height: auto;
    width: 98%;
    margin-top: 20px;
    margin-right: 2px;
    display: block;
    margin-left: 0px;
    margin-right: 2px;
}
form {
    background:black;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    margin-right: 2px;
}
#name {
    color: white;
    background: rgba(255, 255, 255, 0.137);
    width: 98%;
    height: auto;
    font-size: 15px;
    box-decoration-break: none;
    margin-left: 0px;
    margin-right: 2px;
}
#email{
    color: white;
    background: rgba(255, 255, 255, 0.137);
    margin-top: -7px;
    width: 98%;
    height: auto;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 2px;
}
#subject{
    color: white;
    background: rgba(255, 255, 255, 0.137);
    margin-top: -7px;
    width: 98%;
    height: auto;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 2px;
}
#message{
    color: white;
    background: rgba(255, 255, 255, 0.137);
    margin-top: -7px;
    width: 98%;
    height: 210px;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 2px;
}
form button {
    height: 40px;
    width: 98%;
    border: 2px solid #BC8CF2;
    background: black;
    color: #BC8CF2;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 2px;
    margin-bottom: 320px;
}


/*footer*/
footer {
    display: none;
    margin-top: 500px;
    width: 100%;
    height: 200px;
    background: #BC8CF2;
}

.socmed-links {
    width: 100%;
    height: auto;
    margin-left: 0px;
    display: block;
}
.creator {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: light;
    font-size: 20px;
}
.created-by {
    font-size: 20px;
}
}